# This jupyter notbook is about sequences in python

In [2]:
list = [10,20,30,40,50]
fruit = ("apple","banana","mango","grapes")
range_seq = range(1,10,2)

In [3]:
list

[10, 20, 30, 40, 50]

In [4]:
fruit

('apple', 'banana', 'mango', 'grapes')

In [5]:
range_seq

range(1, 10, 2)

In [10]:
# list membership test(in, not in)
print("apple" in fruit)
print(100 not in list)

True
True

In [ ]:
## List Concatenation
list_1 = [10,20,30,40,50]
list_2 = [60,70,80,90,100]
list_1 + list_2

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [3]:
# list repetition
list_1 * 2

NameError: name 'list_1' is not defined