## This JPN is about functions

In [37]:
prices = [200, 300, 400, 500, 600]
sum(prices)
print(200 + 300 + 400 + 500 + 600)

2000

In [38]:
min(prices)

200

In [5]:
max(prices)

600

In [44]:
mean = sum(prices) / len(prices)
print(mean)

400.0

## User defined functions

In [19]:
def greet(name):
    """This function greets to the person passed in as parameter""" # docstring matlab ye function k bary mai bta ta hai
    print("Hello"+ name + "!")

In [20]:
greet(" hanzala")

Hello hanzala!

In [50]:
# user defined function for mean
def calculate_mean(numbers):
    """This function returns the mean of a list of numbers"""
    return round(sum(numbers) / len(numbers), 2)

In [52]:
price = [200, 300, 400, 500, 600,433 , 343, 232, 123, 543, 654]
calculate_mean(price)

393.45

In [55]:
# ex no 1
def sum_function(a, b):
    """This function returns the sum of two numbers"""
    return a + b

sum_function(int(input("Enter first number: ")), int(input("Enter second number: ")))

7

In [64]:
# ex 2
def reverse_str_funcion(text):
    return text[::-1]

reverse_str_funcion(input("Enter name"))

'alaznaH'

In [81]:
# ex no 3
def is_voter(age):
    return age >= 18


is_voter(int(input("Enter age")))

False

In [94]:
# ex 4
def print_name(name, count=1):
    for i in range(count):
        print(name)


print_name("Hanzala", 3)

Hanzala
Hanzala
Hanzala

In [97]:
# ex no 5

def cubid(len, width, height):
    return len*width*height

cubid(3,5,6)

90

In [99]:
# ex no 6
def get_stats(list):
    mean = sum(list) / len(list)
    length = len(list)

    return mean, length

list = [23,43,54,65,76,87]
get_stats(list)

(58.0, 6)

In [102]:
# ex no 7

def print_even_numbers(n):
    for i in range(2, n + 1, 2):
        print(i)

print_even_numbers(10)

2
4
6
8
10

In [107]:
# ex no 8
def text():
    """This is a function w/o no arguments"""
    name= input("Enter your name: ")
    print("Hello, " + name + "!")

text()

Hello, Hanzala!