## This JPN is about Lambda functions and practice

In [3]:
add_lambda = lambda x, y: x + y

print(add_lambda(3, 5))  # Output: 8

8

In [ ]:
# lambda function to sort a list of tuples based on the third element (weight)
students = [("Emil", 25, "50kg"), ("Tobias", 22, "60kg"), ("Linus", 28, "49kg"), ("Anna", 21, "55kg")]
sorted_students = sorted(students, key=lambda x: x[2])
print(sorted_students)

[('Linus', 28, '49kg'), ('Emil', 25, '50kg'), ('Anna', 21, '55kg'), ('Tobias', 22, '60kg')]

In [9]:
# lambda function examples - ex no 1
x = lambda a, b: a * b
print(x(5, 6))  # Output: 30

30

In [10]:
# ex no 2

x = lambda a: a + 10
print(x(5))  # Output: 15

15

In [12]:
# ex no 3 
str = lambda s: len(s) > 5
print(str("Chilla"))  # Output: True
print(str("Day"))  # Output: False

True
False

In [15]:
# ex no 4
x = lambda n: "Even" if n % 2 == 0 else "Odd"
print(x(4))  # Output: Even

Even

In [18]:
# ex no 5 
x = lambda x,y,z: min(x,y,z)
print(x(5,3,8))  # Output: 3

3

In [21]:
# ex no 6 
x = lambda data, i: data[i] if i < len(data) else None
print(x([10, 20, 30, 40], 2))  # Output: 30

30

In [ ]:
# ex no 7 with map, ye function apply krta hai har ek element py
num = [1, 2, 3, 4, 5]
squared = list(map(lambda x: x**2, num))
print(squared)  # Output: [1, 4, 9, 16, 25]

[1, 4, 9, 16, 25]

In [29]:
# ex no 8 with filter, ye filter krta hai specif condition py
num = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_numbers = lambda x: x % 2 == 0, num
print(even_numbers)

(<function <lambda> at 0x000001D3B2E1ED40>, [1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

In [31]:
# ex no 10 with sort(), ye sort krta hai list of tuples ko based on specific element
students = [("Emil", 25, "50kg"), ("Tobias", 22, "60kg"), ("Linus", 28, "49kg"), ("Anna", 21, "55kg")]
sorted_students = sorted(students, key=lambda x: x[2])  
print(sorted_students)

[('Linus', 28, '49kg'), ('Emil', 25, '50kg'), ('Anna', 21, '55kg'), ('Tobias', 22, '60kg')]